@font-face {
    font-family: "Saans";
    src: url("/Saans/Saans/Saans-TRIAL-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans";
    src: url("/Saans/Saans/Saans-TRIAL-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans";
    src: url("/Saans/Saans/Saans-TRIAL-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans";
    src: url("/Saans/Saans/Saans-TRIAL-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans";
    src: url("/Saans/Saans/Saans-TRIAL-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans Mono";
    src: url("/Saans/Saans Mono/SaansMono-TRIAL-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans Mono";
    src: url("/Saans/Saans Mono/SaansMono-TRIAL-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans Mono";
    src: url("/Saans/Saans Mono/SaansMono-TRIAL-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans Mono";
    src: url("/Saans/Saans Mono/SaansMono-TRIAL-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Saans Mono";
    src: url("/Saans/Saans Mono/SaansMono-TRIAL-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: "Saans";
}
