/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.logo {
    width: 400px;
    height: 40px;
}

.logo img {
    object-fit: contain;
}

.header {
    align-items: start;
}
