/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.logo {
    max-width: 400px;
    height: 40px;
}

.logo img {
    object-fit: contain;
}
